<%= form_for(@user, :html => {:multiple => true}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name , :size => 44 %>
  </div>
  <div class="field">
    <%= f.label :romaji %><br>
    <%= f.text_field :romaji , :size => 44%>
  </div>
  <div class="field">
    <%= f.label :interest %><br>
    <%= f.text_field :interest , :size => 44%>
  </div>
  <div class="field">
    <%= f.label :hobby %><br>
    <%= f.text_field :hobby , :size => 44%>
  </div>
  <div class="field">
    <%= f.label :skill %><br>
    <%= f.text_field :skill , :size => 44 %>
  </div>

  <div>
    <div class ="field">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit  "登録する"%>
  </div>
<% end %>
