<h1>KMD2015 members</h1>


<div class = "column5 clear">
	<% @users.each do |user| %>
	<div class = "column1">
		<div class = "userlist">

			<% if user.imagesq? %>
			<%= image_tag(user.imagesq.url,:width => "330px") %><br>
			<% else %>
			<%= image_tag 'http://placehold.it/330&text=no+image' %></br>
			<% end %>


			<% if user.name? %>
			<strong>【名前】</strong><br>
			<%= user.name %><br>

			<% end %>

			<% if user.romaji? %>
			<%= user.romaji %><br>
			<% end %>

			<% if user.division? %>
			<strong>【区分】</strong><br>

			<%= user.division %><br>

			<% end %>

			<% if user.nick? %>
			<strong>【ニックネーム】</strong><br>

			<%= user.nick %><br>

			<% end %>

			<% if user.interest? %>
			<strong>【関心分野】</strong><br>

			<%= user.interest %><br>

			<% end %>

			<% if user.hobby? %>
			<strong>【趣味】</strong><br>

			<%= user.hobby %><br>

			<% end %>

			<% if user.skill? %>
			<strong>【スキル】</strong><br>

			<%= user.skill %><br>

			<% end %>





		</div>
	</div>
	<% end %>
</div>
</div>